*{
    padding:0;
    margin:0;
}

header{
    background: rgb(17, 17, 32);
    color:rgb(117, 135, 175);
    text-align:center;
    padding:10px;
    font-family:sans-serif;
    h1{
        font-weight:normal;
    }
}